@charset "utf-8";

/**
 * loading
 */
.loading { left: 0; top: 0; width: 100%; height: 100%; padding: 0; position: absolute; background-color: white; }
.spinner { width: 60px; height: 60px; background-color: #3276b1; margin: 25% auto; -webkit-animation: rotateplane 1.2s infinite ease-in-out; animation: rotateplane 1.2s infinite ease-in-out; }
@-webkit-keyframes rotateplane { 0% { -webkit-transform: perspective(120px) } 50% { -webkit-transform: perspective(120px) rotateY(180deg) } 100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) } }
@keyframes rotateplane { 0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); } 50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); } 100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

/**
 * scrollbar
 */
::-webkit-scrollbar { height: 11px; width: 5px; }
::-webkit-scrollbar-button { height: 0; width: 0; }
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment { display: block; }
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement { display: none; }
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal { border-style: solid; border-color: transparent; }
::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal { background-clip: padding-box; background-color: #fff; }
::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07); background-clip: padding-box; background-color: rgba(0, 0, 0, .2); min-height: 28px; padding-top: 100; }
::-webkit-scrollbar-thumb:hover { -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25); background-color: rgba(0, 0, 0, .4); }
::-webkit-scrollbar-thumb:active { -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35); background-color: rgba(0, 0, 0, .5); }
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal { border-width: 0; }
::-webkit-scrollbar-track:hover { -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1); background-color: rgba(0, 0, 0, .05); }
::-webkit-scrollbar-track:active { -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07); background-color: rgba(0, 0, 0, .05); }

/**
 * framewoek
 */
/* .framework { position: relative; } */
/** navigation */
.navigation { position: absolute; width: 240px; height: 100%; top: 0px; left: -240px; padding-bottom: 40px; z-index: 5; color: #777; background-color: #fff; overflow-x: hidden !important; overflow-y: auto; -webkit-overflow-scrolling: touch; -webkit-box-shadow:0 0 8px #ff766c; -moz-box-shadow:0 0 8px #ff766c; box-shadow:0 0 8px #ff766c; }
.navigation button { -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
/** navigation head */
.navigation .head { width: 100%; height: 150px; margin-bottom: 1px; }
.navigation .head .left { float: left; width: 20%; height: 100%; display: inline-block; }
.navigation .head .left div { width: 100%; height: 50px; }
.navigation .head .left div button { outline: none; width: 100%; height: 100%; border: 0; padding: 0; background-color: #f1f2f7; }
.navigation .head .left div button.selected { color: #fff !important; background-color: #ff766c; }
.navigation .head .left div button:hover, .navigation .head .left div button:active { color: #fff !important; background-color: #ff766c; } 
.navigation .head .right { position: relative; width: 80%; height: 150px; display: inline-block; }
.navigation .head .right hr { position: absolute; left: 5%; bottom: 0; width: 90%; margin: 0; }
.navigation .head .right .info,
.navigation .head .right .detail,
.navigation .head .right .edit { position: relative; width: 100%; height: 100%; }
.navigation .head .right div .tag { position: absolute; top: 17px; left: -4px; color: #fff !important; }
.navigation .head .right div .pic { position: absolute; top: 12px; left: 0; width: 100%; text-align: center; }
.navigation .head .right div .pic img { width: 80px; height: 80px; border-radius: 50%; }
.navigation .head .right div .text { position: absolute; top: 100px; left: 0; width: 100%; height: 40px; text-align: center; font-size: 14px; }
.navigation .head .right div .text b { color: #333; }
.navigation .head .right div .text small { color: #777; }

.navigation .head .right .detail { position: relative; width: 100%; height: 100%; }
.navigation .head .right .detail .tag { position: absolute; top: 67px; left: -4px; color: #fff !important; }

.navigation .head .right .edit { position: relative; width: 100%; height: 100%; }
.navigation .head .right .edit .tag { position: absolute; top: 117px; left: -4px; color: #fff !important; }
/** navigation title */
.navigation li { min-height: 40px; _height: 40px; zoom: 1; }
.navigation li.selected .title { cursor: pointer; color: #ff766c; background-color: #f1f2f7; }
.navigation li .title { width: 100%; height: 50px; padding: 5px 0; word-spacing: 4px; letter-spacing: 1px; font-variant: small-caps; }
.navigation li .title:hover, .navigation li .title:active { cursor: pointer; color: #ff766c; background-color: #f1f2f7; }
.navigation li .title .left { position: relative; width: 30%; height: 40px; display: inline-block; float: left; }
.navigation li .title .left .sort { font-size: 22px; position: absolute; right: 20px; top: 10px; }
.navigation li .title .right { position: relative; width: 70%; height: 40px; display: inline-block; }
.navigation li .title .right .text { font-size: 16px; position: absolute; top: 5px; }
.navigation li .title .right .code { font-size: 12px; position: absolute; top: 20px; }
/** navigation item */
.navigation li .list-item { position: relative; padding: 5px 0; }
.navigation li .list-item .tag { font-size: 16px; position: absolute; left: 15px; top: -6px; color: #f1f2f7; }
.navigation li .list-item .item { padding: 0; margin: 0; color: #999 !important;  border-left: 5px solid #f1f2f7; }
.navigation li .list-item .item a { color: #999; word-spacing: 0px; letter-spacing: 0px; background: none; border: none; display: block; height: 35px; line-height: 35px; padding-left: 50px; position: relative; text-decoration: none; }
.navigation li .list-item .item a span { font-size: 12px; }
.navigation li .list-item .item a span small { padding-left: 5px; letter-spacing: 1px; font-variant: small-caps; }
.navigation li .list-item .item i { float: left; left: 28px; top: 9px; }
.navigation li .list-item .item:hover, .navigation li .list-item .item:active { cursor: pointer; background-color: #f8f8f8; }
.navigation li .list-item .item:hover a, .navigation li .list-item .item:active a { color: #ff766c; }
.navigation li .list-item .item:hover i, .navigation li .list-item .item:active i { color: #ff766c;  }
.navigation li .list-item .item.selected { background-color: #f8f8f8; border-left: 5px solid #ff766c;}
.navigation li .list-item .item.selected a { color: #ff766c; }
.navigation li .list-item .item.selected i { color: #ff766c;  }
/** navigation footer */
/* left-icon-btn */
.left-icon-btn { cursor: pointer; z-index: 100; width: 42px; height: 80px; color: #fff; background-color: #ff766c; border-color: #fa6469; }
.left-icon-btn.off { outline: none; position: absolute; left: -242px; bottom: 41px; }
.left-icon-btn.on { outline: none; position: absolute; left: 0px; bottom: 41px; opacity: .9; filter: alpha(opacity=90); }
.left-icon-btn:hover, .left-icon-btn:active { color: #fff; }
.left-icon-btn i {  display: inline-block; }
.left-icon-btn i { -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; }
.left-icon-btn:hover i, .left-icon-btn:active i { opacity: 1; -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg); }
/* bottom-icon-btn */
.bottom-icon-btn { position: absolute; left: -242px; bottom: 0px; z-index: 10; height: 41px; width: 242px; font-size: 12px; background-color: #fff; }
.bottom-icon-btn hr { margin: 0 52px 0 10px; }
.bottom-icon-btn div { display: inline-block; height: 40px; }
.bottom-icon-btn .left { float: left; width: 200px; border-right: 1px solid #fff; }
.bottom-icon-btn .left button { outline: none; color: #999; }
.bottom-icon-btn .right { width: 42px; }
.bottom-icon-btn .right button { outline: none; color: #999; }
.bottom-icon-btn .right button i { padding-right: 0px; }
.bottom-icon-btn button { width: 100%; height: 100%; border: 0; background-color: #fff; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
.bottom-icon-btn button i { padding-right: 10px; }
.bottom-icon-btn button small { padding-left: 5px; }
.bottom-icon-btn .left button:hover, .bottom-icon-btn .left button:active { color: #fff !important; background-color: #ff766c; }
.bottom-icon-btn .right button:hover, .bottom-icon-btn .right button:active { color: #fff !important; background-color: #999; }

/** center */
.center { position: absolute; /* width: 100%; */ height: 100%; margin: 0; padding: 0; border: 0 !important; top: 0px; left: 0px; right: 0px; overflow-x: hidden !important; overflow-y: auto; -webkit-overflow-scrolling: touch; }
.center iframe { width: 100%; min-height: 0; margin: 0; padding: 0; border: 0 !important; overflow: hidden !important; }
/** layer-mask */
.layer-mask { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 3; background-color: #000; opacity: .5; filter: alpha(opacity=50); display: none; }

